.jobs-page {
  min-height: 100vh;
  background-color: black;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px){
    .jobs-page{
        display: flex;
        flex-direction: row;
    }
}

.side-bar {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 12px;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  width: 290px;
}

.profile {
  height: 70px;
  width: 7 0px;
}

.profile-name {
  color: #4f46e5;
  font-weight: 500;
  font-size: 22px;
  margin-top: 0px;
}

.bio {
  color: #475569;
  font-size: 15px;
  margin-top: 15px;
}

.side-heading {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.line {
  width: 100%;
}

.employment {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  padding-left: 0px;
}

.item {
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 10px;
}

.checkbox {
  background-color: white;
  margin-right: 10px;
}

.checkbox-label {
  color: white;
  font-size: 14px;
}

.checkbox-salary {
  background-color: white;
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

.jobs-search-container {
  display: flex;
  flex-direction: column;
}

.retry-btn {
  background-color: #6366f1;
  color: white;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}
